remocra/src/main/resources/fr/sdis83/remocra/service/xml/DefTournees.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="lstTournees">
    <xs:sequence>
      <xs:element name="tournee" type="tournee" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tournee">
    <xs:sequence>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="nom" type="xs:string" minOccurs="0"/>
      <xs:element name="debSync" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="pourcent" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>